{% extends 'TEMPLATE.j2' %}

{% block content %}
<div class="container">
    <h1>{% block title %}Cookie Policy{% endblock %}</h1>
    <p>To preface, this policy only applies to maintainers of this site. Normal visitors do not use the Login feature, and therefore, cookies are not used in any capacity.</p>
    
    <p>In order to keep track of users, this site uses <span style="font-weight: bold">cookies</span>. 
    Cookies are small files on your computer used to tell us how you're logged in to our site. They aren't viruses, and their only use is to help make requests
    to this website. We use cookies for two purposes: to check authentication (i.e. who you're logged in as), and to check the integrity of user submitted forms. We do not disclose any information stored in our cookies 
    to any third party. By using the Login feature in any capacity, you consent to the use of cookies on this website.</p>
</div>
{% endblock %}