{% extends "TEMPLATE.j2" %}

{% block title %} {% block header %} Gallery {% endblock %} {% endblock %}

{% block content %}
<div class="container">
<div id="galleryList">
</div>
</div>
{% endblock %}