{% extends 'TEMPLATE.j2' %}

{% block title %} {{ group['title'] }} - News {% endblock %}

{% block content %}
<div class="container">
    <div class="post">
            <div class="postHeader">
                <div class="postMeta">
                    <h1 id="{{ group['id'] }}">{{ group['title'] }}</h1>
                </div>
                <br/>
            </div>

            <p>{{ group['description'] }}</p>
        <a href="{{ url_for('connect.index_' + group.grouptype.name, page=previous) }}#{{ group['id'] }}"><< Go Back</a>
        </div>
</div>
{% endblock %}