{% extends "TEMPLATE.j2" %}

{% block title %} {% block content_header %} Admin Splash {% endblock %} {% endblock %}

{% block content %}

<div class="container" style="min-width: 0; width: 800px;">
    <div id="adminPanel"></div>
</div>

{% endblock %}